<footer class="footer">
    <div class="container-f">
      <div class="row-f">
        <div class="footer-col">
          <h4>online shop</h4>
          <ul>
            <li><a href="toys-product.html">Toys</a></li>
            <li><a href="fashion-child-product.html">Fashion</a></li>
            <li><a href="footwear-product.html">Footwear</a></li>
            <li><a href="electronics-product.html">Electronics</a></li>
            <li><a href="gift-product.html">Gift & frams</a></li>
            <li><a href="#">Beauty and Personal care</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">shipping</a></li>
            <li><a href="#">returns</a></li>
            <li><a href="#">order status</a></li>
            <li><a href="#">payment options</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="product.html">Our Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <hr><div class="copyright text-center">
        <h5 style="color: white;"><a href="#">🌐</a> copyright © 2022 motomart.com all rights reserved</h5>

      </div>
    </div>
</footer>