<div class="container my-5">
    <div class="title py-4 rounded shadow-lg mb-4"> <!-- Added margin-bottom for spacing -->
        <p class="text">Title</p>
    </div>
    
    <nav aria-label="breadcrumb" class="breadcrumb-nav py-3 rounded shadow-lg mb-4"> <!-- Added margin-bottom for spacing -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>      

    <div class="row g-4">
        <!-- Product Card 1 -->
        <app-accessories-featured></app-accessories-featured>
    </div>
</div>
