<div class="container py-5">
  <div class="row card-row filter-row">
    <div class="card-container filter-container">
      <div class="card text-center filter-card">
        <div class="card-body filter-body">
          <img src="../assets/bike.png" alt="Bikes" (click)="openCategoryList(AccessoryCategory.BIKE_PARTS)">
          <p class="card-text">Bikes</p>
        </div>
      </div>
    </div>
    <div class="card-container filter-container">
      <div class="card text-center filter-card">
        <div class="card-body filter-body">
          <img src="../assets/accessories.png" alt="Accessories" (click)="openCategoryList(AccessoryCategory.RIDING_GEARS)">
          <p class="card-text">Accessories</p>
        </div>
      </div>
    </div>
    <div class="card-container filter-container">
      <div class="card text-center filter-card">
        <div class="card-body filter-body">
          <img src="../assets/travels.svg" alt="Travels" (click)="openCategoryList(AccessoryCategory.LUGGAGE_AND_TOURING)">
          <p class="card-text">Travel and Bags</p>
        </div>
      </div>
    </div>
    <div class="card-container filter-container">
      <div class="card text-center filter-card">
        <div class="card-body filter-body">
          <img src="../assets/helmet.svg" alt="Helmet" (click)="openCategoryList(AccessoryCategory.HELMETS_AND_COMBOS)">
          <p class="card-text">Helmets</p>
        </div>
      </div>
    </div>
  </div>
</div>