<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<nav class="navbar navbar-expand-lg sticky-top custom-border">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" id="h">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="h" routerLink="/accessories">Accessories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="h" routerLink="/find-bikes">Find Bikes</a>
                </li>
            </ul>
            <form class="d-flex ms-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ms-3">
                <li class="nav-item">
                    <a class="nav-link" id="cart-icon" (click)="openCart()" style="cursor: pointer;">
                        <div class="me-3 position-relative">
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">0</span>
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="login-link" (click)="openLogin()" style="cursor: pointer;">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

