<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <h2>User review of Avenger Street 1600 by Supreet</h2>
  <!--------------------------------------------------------->
  <!-- review-card.component.html -->
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Bike Name</h3>
        <!-- star-rating.component.html -->
        <div class="rating mb-3">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
  
        <!-- rating-circles.component.html -->
        <div class="container mt-5">
          <div class="row text-center">
            <div class="col">
              <div class="circle">1</div>
              <p>Design</p>
            </div>
            <div class="col">
              <div class="circle">2</div>
              <p>Performance</p>
            </div>
            <div class="col">
              <div class="circle">3</div>
              <p>Comfort</p>
            </div>
            <div class="col">
              <div class="circle">4</div>
              <p>Service</p>
            </div>
            <div class="col">
              <div class="circle">5</div>
              <p>Value for money</p>
            </div>
          </div>
        </div>
  
        <p class="card-text">
          This is a full-fledged description about the bike by the user. It can be as detailed as needed, providing all the insights and experiences.
          This is a full-fledged description about the bike by the user. It can be as detailed as needed, providing all the insights and experiences.This is a full-fledged description about the bike by the user. It can be as detailed as needed, providing all the insights and experiences.This is a full-fledged description about the bike by the user. It can be as detailed as needed, providing all the insights and experiences.This is a full-fledged description about the bike by the user. It can be as detailed as needed, providing all the insights and experiences.
        </p>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success me-2" (click)="incrementLikes()">👍</button>
          <button class="btn btn-danger" (click)="decrementLikes()">👎</button>
        </div>
      </div>
    </div>
  </div>
  
  
  