.navbar {
    height: 50px;
    color:white;
    background-color: #090635; /* Adjust as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 0 0 10px 10px; /* Rounded bottom corners */
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.5); /* Shadow below navbar */
  }
  
  .navbar-tabs {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .navbar-tabs li {
    margin: 0 15px; /* Space between tabs */
    font-weight: bold; /* Make font bolder */
    cursor: pointer; /* Change cursor to pointer */
  }
  
  .logo img {
    height: 40px; /* Adjust logo size as needed */
  }
  