@import url("https://fonts.googleapis.com/css2?family=Poppins");
.carousel, .nav-tabs, .card, .footer {
  background-color: #021821; /* Replace with your desired color */
}

/* .navbar,#navbarSupportedContent,.navbar-brand,.navbar-toggler,.navbar-nav,.nav-item,.form-control{
  background-color:#090214;
} */
.custom-border {
  /* border: 2px solid #bbbbbb; Customize the border color */
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5); /* White shadow effect */
  border-radius: 5px; /* Optional: to round the corners */
}
 
.container-fluid {
  margin: 0px;
 
}
.container-fluid, .fab {
  background-color: #021821;
}
* {
  font-family: "Sitka Display";
  padding:5px;
  color: floralwhite;
  background-color: #021821;
}
#img2,.carousel,.carousel-inner{
  border-radius: 0px;
  /* border-style: groove; */
  background-color: #021821;
}
.form-control{
  background-color: #bbbbbb;
}
.card-title{
  background-color: #090214; /* Card background color */
  border: 1px solid #021821; /* Border for the card */
  border-radius: 0px; /* Rounded corners */
  padding: 5px; /* Inner padding */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Initial shadow */
}
.card,.card-body {
  background-color: #090214; /* Card background color */
  border: 1px solid #021821; /* Border for the card */
  border-radius: 0px; /* Rounded corners */
  padding: 10px; /* Inner padding */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Initial shadow */

}

  .card:hover {
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.7); /* White shadow on hover */
    font-weight: bold; /* Bold text on hover */
    transform: scale(1.05); /* Optional: Slightly enlarge the card */
  }


.carousel-caption, .q {
  background-color: rgba(255, 255, 255, 0); /* Fully transparent background */
  color: white; /* Change text color for contrast */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Optional: Add a shadow for better readability */
  padding: 20px; /* Optional: Add some padding */
}

.navbar{
    height:60px;
    padding: 0%;

}

.container-f {
  max-width: 1170px;
  margin: auto;
}

.row-f {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.card1,#user {
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


